@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Reddit+Mono:wght@200..900&display=swap');

:root {
    color-scheme: dark;
    --color-bg: light-dark(#ffffff, #222222);
    --color-navbar: light-dark(rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0.1));
    --color-text: #ffffff;
    --color-transparency: light-dark(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
    --color--icons: light-dark(rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0.4));
    --color-submit: light-dark(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
    --color-input: light-dark(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.1));
    --color-gradient: linear-gradient(
        125deg,
        royalblue,
        #5768df,
        #8164d7,
        #aa60c8,
        #cc60b3,
        #e3689c,
        #ed7889,
        #ee8c7e,
        #e99e7c,
        #e4ac7f,
        #e0b585,
        burlywood
    );
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-decoration: none;
    scroll-behavior: smooth;
    list-style: none;
}

body{
    background-color: var(--color-bg);
}

header{
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8rem;
    background-color: var(--color-navbar);
    backdrop-filter: blur(8px);
    color: var(--color-text);
    padding: 0.5rem 1.5rem;
    border-radius: 3rem;
    z-index: 1000;
}

.logo{
    color: var(--color-text);
    font-size: 1.5rem;
    font-weight: 600;
    text-wrap: nowrap;
    transition: 0.3s ease-in-out;
}

.logo:hover{
    transform: scale(1.1);
}

.nav-links{
    display: flex;
    gap: 1rem;
    font-size:1.3rem;
}
    

.nav-links li a{
    position: relative;
    color: var(--color-text);
    font-weight: 400;
    text-wrap: nowrap;
    padding: 5px 10px;
    border-radius: 20px;
}

.nav-links li a::before{
    position: absolute;
    content: "";
    width: 0;
    left: 5px;
    height: 4px;
    top: 35px;
    border-radius: 1rem;
    transition: 0.3s ease-in-out;
    background: var(--color-gradient);
}

.nav-links li a:hover{
    background-color: rgba(255, 255, 255, 0.1);
}

.nav-links li a.active::before{
    width: 95%;
}

#sun{
    display: inline-block;
}
#moon{
    display: none;
}

#btn-theme{
    border-radius: 3rem;
    border: none;
    font-size: 1rem;
    color: var(--color--text);
    cursor: pointer;
    transition: 0.3s ease-in-out;
    background-color: transparent;
}

#btn-dropdown{
    padding: 0.6rem 0.8rem;
    border-radius: 3rem;
    border: none;
    font-size: 1rem;
    color: var(--color--text);
    cursor: pointer;
    transition: 0.3s ease-in-out;
    background-color: transparent;
    margin-left: 1rem;
    display: none;
}

#btn-dropdown:hover{
    background: rgba(255, 255, 255, 0.2);
}

.action-menu{
    display: flex;
    flex-direction: row;
}

section{
    min-height: 100vh;
    padding: 8rem 12%;
    width: 100%;
    position: relative;
}

.beginning{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
}

.beginning-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
}

.beginning img{
    width: 25vw;
    border-radius: 50%;
}

.summary{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 1.5rem;
}

.summary h3{
    font-size: 2.3rem;
    font-weight: 500;
    opacity: 0.8;
}

.summary h1{
    font-size: 4.7rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.summary span{
    background: var(--color-gradient);
    background-clip: text;
    color: transparent;
    font-size: 2.4rem;
    font-weight: 500;
}

.blob-container{
	display: flex;
	align-items: center;
    justify-content: center;
}

.blob-bg{
    margin-top: 2rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    justify-content: left;
    text-align: center;
	background-color: var(--color-transparency);;
    border-radius: 1rem;
}

.blob {
    background: #4ADE80;
    border-radius: 50%;
    margin: 10px;
    height: 20px;
    width: 20px;
    box-shadow: 0 0 0 0 rgba(74, 222, 128, 1);
    transform: scale(1);
    animation: pulse 1s infinite;
}

.blob-bg > p{
    font-size: 1.2rem;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(74, 222, 128, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(74, 222, 128, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(74, 222, 128, 0);
    }
}

.location{
    margin-left: 2rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-align: center;
}

.location > p{
    font-size: 1.2rem;
}

#location{
    color: var(--color--icons);
}

.summary i{
    color: rgba(0, 0, 0, 0.8);
}

.social-media{
    margin-top: 1rem;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.social-media i, .social-media > a{
    font-size: 2.5rem;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    color: var(--color--icons);
}

.social-media i:hover{
    transform: scale(1.1);
}

.title-section{
    font-size: 4rem;
    font-weight: 600;
    text-align: center;
}

.about{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4rem;
}

.about-container{
    margin-top: 4rem;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8rem;
}

.about-container > .image{
    background-color: green;
}

.about-container > .text{
    background-color: yellow;
    flex: 2;
}

.experience{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.experience-container{
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 2rem;
    align-items:baseline;
    justify-content: center;
    height: 500px;
}

.experience-card{
    max-width: 50%;
    width: 500px;
    display: flex;
}

.timeline-box{
    flex: 0 0 100%;
    max-width: 100%;
}

.timeline{
    height: 100%;
    border-radius: 20px;
    background-color: #272727;
    padding: 25px 20px;
    position: relative;
}

.timeline-item{
    position: relative;
    padding-left: 2.5rem;
    padding-bottom: 1.7rem;
}

.timeline-date{
    font-size: 1rem;
    margin-bottom: 5px;
    color: grey;
}

.timeline-title{
    font-size: 1.5rem;
}

.timeline-item p{
    font-size: 1.2rem;
}

.timeline-item:last-child{
    padding-bottom: 0;
}

.timeline-item::before{
    content: '';
    width: 1px;
    position: absolute;
    height: 100%;
    left: 5px;
    background-color: orange;
    top: 0;
}

.timeline-text span{
    font-style: italic;
}

.timeline-icon{
    position: absolute;
    left: -0.30rem;
    top: 0;
    font-size: 1.3rem;
    background-color: #272727;
    padding: 10px 0;
    color: orange;
}

.timeline-icon:first-child{
    padding-top: 0;
}

.grid-services{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin-top: 4rem;
}

.card-service{
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    border-radius: 3rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    background-color: #323232;
}

.btn{
    width: 20vw;
    background-color: rgb(220, 218, 218);
    color: #222222;
    border-radius: 3rem;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    font-weight: 500;
    text-wrap: nowrap;
    transition: 0.2s ease-in-out;
}

.card-service:hover{
    background-color: #454444;
    color: white;
    transform: translateY(-10px)scale(1.02);
}

.card-service img{
    width: 20vw;
    border-radius: 1rem;
}


.card-service h3{
    font-size: 2rem;
    font-weight: 500;
}

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container {
    padding: 1rem 1.5rem;
    border-radius: 8px;
    width: 800px;
    max-width: 90%;
    background-color: var(--color-transparency);
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

label {
    display: block;
    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: 5px;
}

form > label{
    margin-top: 1rem;
}


input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    color: var(--color--text);
    font-size: 1rem;
    background-color: var(--color-input);
}

textarea {
    grid-column: 1 / span 2;
    resize: none;
}

.btn-submit {
    grid-column: 1 / span 2;
    padding: 10px;
    background-color: var(--color-submit);
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
}

.btn-submit:hover {
    background-color: #dddddd;
}

.contact{
    padding: 8rem 12% 0 12%;
}


.links-contact{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: center;
    margin: 2rem 0 2rem 0;
    background-color: var(--color-transparency);
    border-radius: 1rem;
    cursor: pointer;
}

.links-contact > .link{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1.2rem;
    border-right: 1px solid #a4a3a3;
    padding: 0.5rem 1rem;
}

.links-contact > .link ~ .link{
    border-right: none;
}


footer{
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
}

footer p{
    font-size: small;
    margin-top: 2rem;
}


@media (max-width: 1280px){
    header{
        gap: 3rem;
    }
    .beginning{
        gap: 3rem;
    }
}

@media (max-width: 768px){
    .btn-dropdown{
        display: block;
    }

    .title-section{
        font-size: 3rem;
    }


    .nav-links{
        border-top: 1px solid black;
        position: absolute;
        top: 100%;
        width: 100%;
        padding: 1rem;
        color: white;
        background-color: rgba(0, 0, 0, 0.8);
        border-bottom-left-radius: 3rem;
        border-bottom-right-radius: 3rem;
        display: none;
    }

    .nav-links li{
        padding: 1rem;
    }

    header{
        gap: 7rem;
        padding: 0.7rem 2rem;
    }

    header.active{
        border-top-right-radius: 2rem;
        border-top-left-radius: 2rem;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    header.active .nav-links{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .logo{
        font-size: 1.5rem;
    }

    .beginning img{
        width: 50vw;
    }

    .beginning{
        flex-direction: column;
    }

    .title-section{
        font-size: 3.5rem;
    }

    .card-service img{
        width: 60vw;
    }
}

@media (max-width: 600px){
    .summary h1{
        font-size: 3.5rem;
    }
    .beginning img{
        width: 80vw;
    }

    header{
        gap: 1.5rem;
        padding: 0.7rem 2rem;
    }

    .btn-dropdown{
        margin-left: 0.3rem;
    }

    .card-service{
        border-radius: 2rem;
        padding: 2rem 2rem;
    }

    .card-service img{
        width: 50vw;
    }

    .card-service .group-btn{
        gap: 0.5rem;
    }

}